<div class="page-header">
    <h3 class="page-title">
      MANAGE BOOKS
    </h3>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:;">Manage Books</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add Book</li>
      </ol>
    </nav>
</div>
<div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Add A New Book</h4>
        <form [formGroup]="addBookForm" class="form-sample">
          <p class="card-description">
            Book infomation
          </p>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label for="title" class="col-sm-3 col-form-label required">Title</label>
                <div class="col-sm-9">
                  <input maxlength="51" id="title" formControlName="title" class="form-control" type="text" [(ngModel)]="newBook.title"  name="title"
                  [ngClass]="{ 'is-invalid': (isFormSubmitted && addBookForm.controls.title.errors) || (!addBookForm.controls.title.pristine && addBookForm.controls.title.invalid) }">
                  <div class="invalid-feedback"
                  *ngIf="(isFormSubmitted && addBookForm.controls.title.errors) || (!addBookForm.controls.title.pristine && addBookForm.controls.title.invalid)">
                  <div *ngIf="addBookForm.controls.title.errors.required">Title is required</div>
                  <div *ngIf="addBookForm.controls.title.errors.maxlength">Maximum 50 characters required</div>
                  </div>
                  
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label required">Category</label>
                <div class="col-sm-9">
                  <select [(ngModel)]="newBook.kind" name="kind" class="form-control" formControlName="kind" id="kind" [ngClass]="{ 'is-invalid': (isFormSubmitted && addBookForm.controls.kind.errors) || (!addBookForm.controls.kind.pristine && addBookForm.controls.kind.invalid) }">
                   
                    <option *ngFor="let cate of arrCate" [value]="cate"> {{cate.name}} </option>
                   
                  </select>

                  <div class="invalid-feedback"
                  *ngIf="(isFormSubmitted && addBookForm.controls.kind.errors) || (!addBookForm.controls.kind.pristine && addBookForm.controls.kind.invalid)">
                  <div *ngIf="addBookForm.controls.kind.errors.required">Category must be selected</div>
                  </div>

                </div>
              </div>
            </div>

          </div>
          <div class="row">

            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label required">Author</label>
                <div class="col-sm-9">
                  <input id="author" type="text" formControlName="author" class="form-control" [(ngModel)]="newBook.author" name="author" [ngClass]="{ 'is-invalid': (isFormSubmitted && addBookForm.controls.author.errors) || (!addBookForm.controls.author.pristine && addBookForm.controls.author.invalid) }"/>

                  <div class="invalid-feedback"
                  *ngIf="(isFormSubmitted && addBookForm.controls.author.errors) || (!addBookForm.controls.author.pristine && addBookForm.controls.author.invalid)">
                  <div *ngIf="addBookForm.controls.author.errors.required">Author is required</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Edition</label>
                <div class="col-sm-9">
                  <input [(ngModel)]="newBook.edition" id="edition" type="text" formControlName="edition" class="form-control" name="edition"/>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label required">Price</label>
                <div class="col-sm-9">
                  <input id="price" type="number" formControlName="price" class="form-control" [(ngModel)]="newBook.price" name="price" 
                    [ngClass]="{ 'is-invalid': (isFormSubmitted && addBookForm.controls.price.errors) || (!addBookForm.controls.price.pristine && addBookForm.controls.price.invalid) }"/>

                    <div class="invalid-feedback"
                    *ngIf="(isFormSubmitted && addBookForm.controls.price.errors) || (!addBookForm.controls.price.pristine && addBookForm.controls.price.invalid)">
                    <div *ngIf="addBookForm.controls.price.errors.required">Price is required</div>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Publisher</label>
                <div class="col-sm-9">
                  <input [(ngModel)]="newBook.publisher" id="publisher" type="text" formControlName="publisher" class="form-control" name="publisher"/>
                </div>
              </div>
            </div>
          </div>
      
          <div class="row">

            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label required">Quantity</label>
                <div class="col-sm-9">
                  <input [(ngModel)]="newBook.quantity" id="quantity" type="number" formControlName="quantity" class="form-control" name="quantity" [ngClass]="{ 'is-invalid': (isFormSubmitted && addBookForm.controls.quantity.errors) || (!addBookForm.controls.quantity.pristine && addBookForm.controls.quantity.invalid) }"/>
                  <div class="invalid-feedback"
                    *ngIf="(isFormSubmitted && addBookForm.controls.quantity.errors) || (!addBookForm.controls.quantity.pristine && addBookForm.controls.quantity.invalid)">
                    <div *ngIf="addBookForm.controls.quantity.errors.required">Quantity is required</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Copyright</label>
                <div class="col-sm-9">
                  <input id="copyright" type="text" formControlName="copyright" class="form-control" name="copyright" [(ngModel)]="newBook.copyright"/>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
           
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Image</label>

                <div class="input-group col-sm-9">
                  <input id="image" formControlName="image" type="file" class="form-control" name="image" (change)="selectImage($event)" />
                  <!-- <input type="text" id="filename" class="form-control file-upload-info"  placeholder="Upload Image">
                  <span class="input-group-append">
                    <button (click)="document.getElementById('image').click()" class="file-upload-browse btn btn-primary btn-fw" type="button">Upload</button>
                  </span> -->
                </div>
                <!-- <div class="form-group">
                  <input id="image" hidden formControlName="image" type="file" class="form-control" name="image" (change)="selectImage($event)" />
                  <input type="text" id="filename" class="form-control file-upload-info"  placeholder="Upload Image" (change)="selectImage($event)">
                  <span class="input-group-append">
                    <button class="file-upload-browse btn btn-primary btn-fw" type="button">Upload</button>
                  </span>
                </div> -->

              </div>
            </div>

           
            
          </div>
          <div class="form-group">
            <label for="exampleTextarea1">Book Description</label>
            <textarea class="form-control" formControlName="description" id="description" [(ngModel)]="newBook.description" rows="4" name="description"></textarea>
          </div>

          <div class="float-right">
            <button id="Add" (click)="post(); resetForm()" type="button" class="btn btn-primary btn-fw">
              <i class="mdi mdi-upload btn-icon-prepend"></i>
              Add Book
            </button>
          </div>

         
       
        </form>
      </div>
    </div>
</div>
