<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="container">
        <h1 class="mb-4 text-white">New blog post</h1>

        <form action="" method="POST" enctype="multipart/form-data">

          <div class="form-group">

            <label for="id" class="text-white">ID</label>
            <input rows="6" [(ngModel)]="newBook._id" name="id" type="text" class="form-control" placeholder="ID"  >
        </div>

            <div class="form-group">

                <label for="email" class="text-white">Title</label>
                <input rows="6" [(ngModel)]="newBook.title" type="text" class="form-control" placeholder="Title" name="title" required>
            </div>

            <div class="form-group">

                <label for="author" class="text-white">Author</label>
                <input type="text" rows="6" [(ngModel)]="newBook.author" class="form-control" placeholder="Author" name="author" required/>

            </div>
            <div class="form-group">

                <label for="description" class="text-white">Description</label>
                <input rows="6" [(ngModel)]="newBook.description" type="text" class="form-control" placeholder="Description" name="description" required>
            </div>
            <div class="form-group">

                <label for="price" class="text-white">Price</label>
                <input rows="6" [(ngModel)]="newBook.price" type="text" class="form-control" placeholder="Price" name="price" required>
            </div>
            <div class="form-group">

              <select name="kind" id="kind">
                <option value="Violent">Violent</option>
                <option value="Action">Action</option>
                <option value="Scence">Scence</option>
                <option value="Comedy">Comedy</option>
              </select>

              <script type="text/javascript">
                function getOption() {
                    selectElement = document.querySelector('#kind');
                    output = selectElement.value;
                    newBook.kind = output;
                }
                </script>
            </div>


            <div class="form-group">
              <label for="image" class="text-white">Upload image</label>
              <input type="file" class="form-control" name="image" (change)="selectImage($event)" />
            </div>

            <div class="form-group">

              <button (click)="post()">Add</button>
              <button (click)="update()">update</button>
              <button (click)="delete()">delete</button>




            </div>
        </form>
    </div>

</body>

</html>
