<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        <input type="text" name="txtName"/>
        <input type="text" name="txtEmail"/>
        <input type="text" name="txtPassword"/>
        <input type="text" name="txtPhone"/>
        <h1>id</h1>
        <input type="text" name="txtID"/>
        <h1>image</h1>
        <input type="submit" value="Add" />

    </form>
</body>
</ht -->


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="container">
        <h1 class="mb-4 text-white">New blog post</h1>

        <form action="" method="POST" enctype="multipart/form-data">
            

            <div class="form-group">

                <label for="email" class="text-white">Email</label>
                <input type="text" class="form-control" placeholder="Email" name="email" required>
            </div>

            <div class="form-group">

                <label for="password" class="text-white">Password</label>
                <input type="password" class="form-control" placeholder="Password" name="password" required>
            </div>
            <div class="form-group">

                <label for="name" class="text-white">Name</label>
                <input type="text" class="form-control" placeholder="Name" name="name" required>
            </div>
            <div class="form-group">

                <label for="phone" class="text-white">Phone</label>
                <input type="text" class="form-control" placeholder="Phone" name="phone" required>
            </div>
            <div class="form-group">

                <label for="address" class="text-white">Address</label>
                <input type="text" class="form-control" placeholder="Address" name="address" required>
            </div>
            <!--sex-->
            <!--dob-->

            
            <div class="form-group">
                <label for="image" class="text-white">Upload image</label>
                <input type="file" name="image" id="image" class="form-control-file text-white">
            </div>

            <div class="form-group">
               
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>

</body>

</html>