


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="container">
        <h1 class="mb-4 text-white">New blog post</h1>

        <form action="" method="POST" enctype="multipart/form-data">

          <div class="form-group">

            <label for="id" class="text-white">Email</label>
            <input rows="6" [(ngModel)]="newUser._id" name="id" type="text" class="form-control" placeholder="ID"  >
        </div>

            <div class="form-group">

                <label for="email" class="text-white">Email</label>
                <input rows="6" [(ngModel)]="newUser.email" type="text" class="form-control" placeholder="Email" name="email" required>
            </div>

            <div class="form-group">

                <label for="password" class="text-white">Password</label>
                <input type="password" rows="6" [(ngModel)]="newUser.password" class="form-control" placeholder="Password" name="password" required/>

            </div>
            <div class="form-group">

                <label for="name" class="text-white">Name</label>
                <input rows="6" [(ngModel)]="newUser.name" type="text" class="form-control" placeholder="Name" name="name" required>
            </div>
            <div class="form-group">

                <label for="phone" class="text-white">Phone</label>
                <input rows="6" [(ngModel)]="newUser.phone" type="text" class="form-control" placeholder="Phone" name="phone" required>
            </div>
            <div class="form-group">

                <label for="address" class="text-white">Address</label>
                <input rows="6" [(ngModel)]="newUser.address" type="text" class="form-control" placeholder="Address" name="address" required>
            </div>
            <!--sex-->
            <div>

              <form>

                <div>

                  <input type="radio" id="nam"
                   name="contact" value="nam">
                  <label for="nam">Nam</label>

                  <input type="radio" id="nu"
                   name="contact" value="nu">
                  <label for="nu">Nu</label>

                  <input type="radio" id="khac"
                   name="contact" value="khac">
                  <label for="khac">Khac</label>




                </div>
              </form>
            </div>
            <!--dob-->
            <div class="form-group">
              <input type="date" [(ngModel)]="newUser.dob" class="text-field" name="date" id="date" required>
            </div>

            <div class="form-group">
              <label for="image" class="text-white">Upload image</label>
              <input type="file" class="form-control" name="image" (change)="selectImage($event)" />
            </div>

            <div class="form-group">
              <button (click)="post()">Add</button>
              <button (click)="update()">update</button>
              <button (click)="delete()">delete</button>







            </div>
        </form>
    </div>

</body>

</html>
