<div class="container-scroller">
    <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-rowv shadow-sm">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
          <a class="navbar-brand brand-logo" routerLink="/home" [state]="user"><img src="assets/images/logo.svg" alt="logo" /></a>
          <a class="navbar-brand brand-logo-mini" routerLink="/"><img src="assets/images/logo.svg" alt="logo" /></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-stretch ">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize" (click)="toggleSidebar()">
            <span class="mdi mdi-menu"></span>
          </button>
         
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item nav-profile dropdown" ngbDropdown>
              <a class="nav-link dropdown-toggle" id="profileDropdown" ngbDropdownToggle>
                <div class="nav-profile-img">
                  <img src="http://localhost:3000/uploadImage/{{user.image}}" alt="profile">
                  <span class="availability-status online"></span>
                </div>
                <div class="nav-profile-text">
                  <p class="mb-1 text-black">{{user.name}}</p>
                </div>
              </a>
              <div class="dropdown-menu navbar-dropdown" ngbDropdownMenu aria-labelledby="profileDropdown">
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:;" routerLink="/home">
                  <i class="mdi mdi-logout mr-2 text-primary"></i>
                  Signout
                </a>
              </div>
        
           
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" (click)="toggleOffcanvas()">
            <span class="mdi mdi-menu"></span>
          </button>
        </div>
      </nav>
  <div class="container-fluid page-body-wrapper">
    <nav class="sidebar sidebar-offcanvas shadow-sm" id="sidebar">
        <ul class="nav">
          <li class="nav-item nav-profile">
            <a href="javascript:;" class="nav-link">
              <div class="nav-profile-image">
                <img src="http://localhost:3000/uploadImage/{{user.image}}" alt="profile">
                <span class="login-status online"></span> <!--change to offline or busy as needed-->              
              </div>
              <div class="nav-profile-text">
                <span class="font-weight-bold mb-2">{{user.name}}</span>
                <span class="text-primary text-small">{{user.role}}</span>
              </div>
            </a>
          </li>
        
          <li class="nav-item" [ngClass]="{'active' : detail.isActive || change_password.isActive  }">
            <a class="nav-link" (click)="profileCollapsed = !profileCollapsed; checkOpenMyProfile()" [attr.aria-expanded]="profileCollapsed" aria-controls="profile-ui">
              <span class="menu-title">My Profile</span>
              <i class="menu-arrow"></i>
              <i class="mdi mdi-account menu-icon"></i>
            </a>
            <div class="collapse" id="profile-ui" [ngbCollapse]="!profileCollapsed">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" routerLink="profile/update_detail" [state]="currentUser" routerLinkActive="active" #detail="routerLinkActive">Update Detail</a></li>
                <li class="nav-item"> <a class="nav-link" routerLink="profile/change_password" [state]="currentUser" routerLinkActive="active" #change_password="routerLinkActive">Change Password</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item" [ngClass]="{'active' : borrowing.isActive || returning.isActive  }">
            <a class="nav-link" (click)="booksCollapsed = !booksCollapsed; checkOpenBook()" [attr.aria-expanded]="booksCollapsed" aria-controls="profile-ui">
              <span class="menu-title">Manage Borrow & Return</span>
              <i class="menu-arrow"></i>
              <i class="mdi mdi-book-open menu-icon"></i>
            </a>
            <div class="collapse" id="profile-ui" [ngbCollapse]="!booksCollapsed">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" routerLink="manage/borrowing"  [state]="currentUser" routerLinkActive="active" #borrowing="routerLinkActive">View Borrowing</a></li>
                <li class="nav-item"> <a class="nav-link" routerLink="manage/returning"  [state]="currentUser" routerLinkActive="active" #returning="routerLinkActive">View Returning</a></li>
              </ul>
            </div>
          </li>
      
        </ul>
      </nav>
      
    <div class="main-panel" [ngClass]="{ 'main-panel-only' : !showSidebar }">
      <div class="content-wrapper" style="background-color: rgba(239, 239, 239, 0.77);">
        <app-spinner *ngIf="isLoading"></app-spinner>
        <div contentAnimate *ngIf="!isLoading" class="h-100">
          <router-outlet></router-outlet>
        </div>

      </div>

    </div>
    <app-footer *ngIf="showFooter"></app-footer>

  </div>
</div>
