<div class="page-header">
  <h3 class="page-title">
    MY PROFILE
  </h3>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="javascript:;">My Profile</a></li>
      <li class="breadcrumb-item active" aria-current="page">Change Password</li>
    </ol>
  </nav>
</div>
<div class="col-12 grid-margin">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Change A New Password</h4>
      <form [formGroup]="addUserForm" class="form-sample" (ngSubmit)="post()">
        <div class="form-group">
          <label class="col-sm-3 col-form-label required">Password</label>
          <div class="col-sm-9">
            <input id="password" type="password" formControlName="password" class="form-control form-control-lg" [(ngModel)]="newUser.password" name="password" placeholder="Enter New Password"
            [ngClass]="{ 'is-invalid': (isFormSubmitted && addUserForm.controls.password.errors) || (!addUserForm.controls.password.pristine && addUserForm.controls.password.invalid) }">

            <div class="invalid-feedback" *ngIf="(isFormSubmitted && addUserForm.controls.password.errors) || (!addUserForm.controls.password.pristine && addUserForm.controls.password.invalid) ">
                  <div *ngIf="addUserForm.controls.password.errors.required">Please enter a new password</div>
                  <div *ngIf="addUserForm.controls.password.errors.minlength">Minimum 6 characters required</div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 col-form-label required">Password</label>
          <div class="col-sm-9">
            <input id="confirm" type="password" formControlName="confirm" class="form-control form-control-lg" [(ngModel)]="newUser.confirm" name="confirm"  placeholder="Re-enter New Password"
            [ngClass]="{ 'is-invalid': (isFormSubmitted && addUserForm.controls.confirm.errors) || (!addUserForm.controls.confirm.pristine && addUserForm.controls.confirm.invalid) }">

            <div class="invalid-feedback" *ngIf="(isFormSubmitted && addUserForm.controls.confirm.errors) || (!addUserForm.controls.confirm.pristine && addUserForm.controls.confirm.invalid) ">
                  <div *ngIf="addUserForm.controls.confirm.errors.required">Please re-enter a new password</div>
                  <div *ngIf="addUserForm.controls.confirm.errors.minlength">Minimum 6 characters required</div>
            </div>
          </div>
        </div>
    

        
        <div class="float-right">
          <button type="reset" (click)="post();" type="button" class="btn btn-primary btn-fw">
            <i class="mdi mdi-upload btn-icon-prepend"></i>
            Add User
          </button>

          <a type="submit" class="btn btn-danger btn-sm" (click)="closeModal('close')"
          *ngIf="urlParams">Cancel</a>
        </div>
       
     
      </form>
    </div>
  </div>
</div>
