<div class="page-header">
    <h3 class="page-title">
      MY PROFILE
    </h3>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:;">My Profile</a></li>
        <li class="breadcrumb-item active" aria-current="page">Change Password</li>
      </ol>
    </nav>
</div>
<div class="col-10 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Change A New Password</h4>
        <form class="form-sample">
          <form class="forms-sample">
            <div class="form-group">
                <label class="col-form-label required">Enter New Password</label>
                <input type="text" class="form-control form-control-lg" placeholder="Enter New Password" aria-label="Username">
            </div>
            <div class="form-group">
                <label class="col-form-label required">Re-enter New Password</label>
                <input type="text" class="form-control form-control-lg" placeholder="Re-enter New Password" aria-label="Username">
            </div>
          </form>
          
          <div class="float-right">
            <button type="button" class="btn btn-primary btn-fw">
              <i class="mdi mdi-content-save btn-icon-prepend"></i>
              Save
            </button>
          </div>
         
       
        </form>
      </div>
    </div>
</div>
