<div class="page-header">
    <h3 class="page-title">
      MY PROFILE
    </h3>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:;">My Profile</a></li>
        <li class="breadcrumb-item active" aria-current="page">Update Detail</li>
      </ol>
    </nav>
</div>
<div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Update Detail</h4>
        <form class="form-sample" [formGroup]="editUserForm">
          <p class="card-description">
            Personal info
          </p>
    
          <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img id="showImage" src="http://localhost:3000/uploadImage/{{user.image}}" alt=""/>
                    <input id="selected-image" type="file" class="form-control font-item padding" name="image" (change)="selectImage($event)" />

                </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">

                <label class="col-sm-3 col-form-label">ID</label>
                <div class="col-sm-9">
                  <input [disabled]="true" type="text" class="form-control" value="{{user._id}}"/>
                </div>

                <label class="col-sm-3 col-form-label required">Name</label>
                <div class="col-sm-9">
                  <input id="name" type="text" class="form-control" value="{{user.name}}" name="name"/>
                </div>

                <label for="title" class="col-sm-3 col-form-label required">Sex</label>
                <div class="col-sm-9 color-border">
                  <select place class="form-control font-item font-color" id="sex" >
                    <option value="" disabled selected hidden> ----Please select----</option>
                    <option>Male</option>
                    <option>Female</option>
                    <option>Other</option>

                  </select>

                  <!-- <div class="invalid-feedback" *ngIf="(isFormSubmitted && addUserForm.controls.role.errors) || (!addUserForm.controls.role.pristine && addUserForm.controls.role.invalid)">
                  <div *ngIf="addUserForm.controls.role.errors.required">Role must be selected</div>
                  </div> -->
                </div>

                <label class="col-sm-3 col-form-label required">DOB</label>
                <div class="col-sm-9">
                  <input id="dob" type="date" class="form-control" name="dob" />
                </div>
                <label class="col-sm-3 col-form-label required">Phone No.</label>
                <div class="col-sm-9">
                  <input id="phone" type="number" class="form-control" value="{{user.phone}}" name="phone"/>
                </div>
                <label class="col-sm-3 col-form-label ">Address</label>
                <div class="col-sm-9">
                  <input id="address" type="text" class="form-control" value="{{user.address}}" name="address"/>
                </div>
              </div>
            </div>
            
           
          </div>
    
    
          <div class="float-right">
            <button type="button" class="btn btn-secondary btn-fw">
                <i class="mdi mdi-close-circle-outline btn-icon-prepend"></i>
                Cancel
            </button>
            <button type="button" class="btn btn-primary btn-fw" (click)="update();">
              <i class="mdi mdi-account-check btn-icon-prepend"></i>
              Update Detail
            </button>
            
          </div>
         
       
        </form>
      </div>
    </div>
</div>
